.vector-icon39 {
  position: relative;
  width: 11px;
  height: 15px;
}
.icsection7 {
  border-radius: var(--br-5xs);
  background-color: var(--color-sandybrown-100);
  width: 26px;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.article-name3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 115px;
  flex-shrink: 0;
}
.article-name-container7 {
  border-radius: var(--br-sm);
  border: 0.7px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.vector-icon40 {
  position: relative;
  width: 13px;
  height: 16px;
}
.ic-amount-grey7 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 26px;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.article-allocated-amount3 {
  position: relative;
  font-weight: 500;
}
.amount-and-dzd-container26 {
  width: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.article-allocated-amount-conta7 {
  border-radius: var(--br-sm);
  border: 0.7px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 180px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.article,
.icamount12 {
  display: flex;
  flex-direction: row;
}
.icamount12 {
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen);
  width: 26px;
  height: 26px;
  padding: var(--padding-xs) var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.article {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
